<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imchobo.jsr_stringboot.mapper.StudentMapper">

<select id="list"  resultType="com.imchobo.jsr_stringboot.domain.Student" >
    select * from student
</select>

<insert id="insert"  parameterType="com.imchobo.jsr_stringboot.domain.Student">
INSERT INTO student
    (student, kor, mat, eng, sci, soc, total)
values
    (  #{student},  #{kor},  #{mat},  #{eng},  #{sci},  #{soc}, #{total}
    )
</insert>

<delete id="delete" parameterType="com.imchobo.jsr_stringboot.domain.Student">
    delete from student where no = #{no}
</delete>

</mapper>