<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imchobo.jsr_stringboot.mapper.StudentMapper">
<!--별칭?-->
    <select id="list" resultType="com.imchobo.jsr_stringboot.domain.Student">
        select *
        from student
    </select>

    <insert id="insert" >
        INSERT INTO student
            (student, kor, mat, eng, sci, soc)
        values (#{student}, #{kor}, #{mat}, #{eng}, #{sci}, #{soc})
    </insert>

    <delete id="delete">
        delete
        from student
        where no = #{no}
    </delete>

    <update id="update">
        update student
        set
            kor    = #{kor},
            mat    = #{mat},
            eng    = #{eng},
            sci    = #{sci},
            soc    = #{soc}
        where no = #{no}
    </update>
    <select id="selectOne" resultType="com.imchobo.jsr_stringboot.domain.Student">
        select *
        from student
        where no = #{no}
    </select>

    <select id="scoreAvgSubject"  resultType="com.imchobo.jsr_stringboot.domain.Student">
        select avg(kor) kor , avg(mat) mat, avg(eng) eng , avg(sci) sci ,avg(soc) soc from student
    </select>



    <select id="listscoreRank" resultType="com.imchobo.jsr_stringboot.domain.Student">
        select no, kor, mat, eng, sci, soc , (kor + mat + eng + sci + soc) total
        from student order by total desc
    </select>

</mapper>